$blue-light: #D7E8FF;
$blue: #2D65E4;
$blue-accent: #0A7FFF;
$blue-dark: #1B3C88;

$green: #0F9D58;
$green-accent: #5edf58;
$green-dark: #017E38;

$yellow: #FFC800;
$yellow-dark: #FB9D10;
$yellow-light: #FFF7D6;

$red: #E84B34;
$red-dark: #CE271D;
$red-light: #FAC1C0;

$gray-7: #020506;
$gray-6: #262B2F;
$gray-5: #4F595C;
$gray-4: #687072;
$gray-3: #949C9E;
$gray-2: #CCD0D3;
$gray-1: #DDDDDD;
$gray-0: #F8F8F8;

$gradient-blue: linear-gradient(#0E70F0, #415BB4);
$gradient-green: linear-gradient(#3A9D0F, #036D32);
$gradient-yellow: linear-gradient(#FBC810, #E87A34);
$gradient-green-blue: linear-gradient(#5ABA40, #3680E0);