.App {
    text-align: center;
  }
  
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
  }
  
  .App-header {
    background-color: #222;
    height: 150px;
    padding: 20px;
    color: white;
  }
  
  .App-title {
    font-size: 1.5em;
  }
  
  .App-intro {
    font-size: large;
  }
  
  .loginBoxContainer {
      margin-top: 20px;
      -webkit-box-shadow: 0 0 20px 1px rgba(0,0,0,0.25);
      box-shadow: 0 0 20px 1px rgba(0,0,0,0.25); 
      -webkit-border-radius: 3px 3px 3px 3px;
      border-radius: 3px 3px 3px 3px;
  }
  .tabContent {
      padding: 10px;
  }
  
  @keyframes App-logo-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
  }
  


  /* ----------------about--------------------- */
  
.creative {
  margin-top: 10px;
  height: 500px;
  background-color: rgba(34, 34, 34, 0);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  border-radius: 10px;
border: solid 1px #000;
}

.creative .creative-info {
  padding-top: 100px;
  width: 50%;
  float: left;
}

.creative .creative-info .info-title {
  font-weight: bold;
  font-size: 50px
}

.creative .creative-info .info-title span {
  font-weight: normal
}

.creative .creative-info .info-dir {
  font-size: 40px;
  color: #eb5424;
  margin-bottom: 20px
}

.creative .creative-info .info-desc {
  color: #000;
  margin-bottom: 15px;
  line-height: 1.8
}

.creative .creative-info .info-desc .lienabout{
  text-decoration: none
}

@media (max-width:991px) {
  .creative {
      height: auto
  }
  .creative .creative-info {
      width: 100%;
      padding-top: 10px;
      float: none
  }
  
  .creative .creative-info .info-dir {
      font-size: 30px
  }
}

/* ---------------slide------------ */
