.react-bs-table {
  .table {
    thead {
      tr {
        th {
          font-weight: 700 !important;
        }
      }
    }
  }
}

.user-photo {
  height: 36px;
  margin: 0 auto;
  width: 36px;
}

.action-btn {
  width: 36px;
}

.icon-style {
  color: white;
}