.forum{

}
.TableForum {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    text-align-last: center;
}

/* ------------------Custom Modal------------------ */

.modal {
    position: fixed;
    top: 5%;
    left: 10%;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
}
.inputsujet,
.textareasujet {
    width: 80%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}
.addfileinput{
    
    display: initial;
}
.inputsujet[type="submit"] {
    margin-top: 5%;
    background-color: #1f73e0;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    padding: 7px;
    justify-content: center;
    box-shadow: 1px 2px 3px #1d180cef;
}

.inputsujet[type="submit"]:hover {
    background-color: #007bff;
}
.labelsujet {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

.modal-main {
    background-color: white;
    width: 70%;
    max-width: 640px;
    overflow-y: auto;
    height: 80vh;
    margin: 20px 50px auto 50px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 20px;
}



.myCustomAddButton {
    position: 'absolute';
    bottom: 0.0;
    left:0;
}

.display-none {
    display: none;
}
@media (min-width: 768px){
.forumcontainer {
    width: 750px;
}
}

@media (min-width: 300px){
    .forumcontainer {
        width: 750px;
        display: contents;
    } 
}