.signup{
    background-image: url('https://www.google.com/imgres?imgurl=https%3A%2F%2Fi.pinimg.com%2Foriginals%2Fde%2F4a%2F90%2Fde4a9060d587b1e7d18d2048c1eec080.gif&imgrefurl=https%3A%2F%2Fwww.pinterest.com%2Fpin%2F478155685430042830%2F&tbnid=iP0D6GHP9Tce7M&vet=10CAYQxiAoA2oXChMI-OKCl-Lt8AIVAAAAAB0AAAAAEAc..i&docid=zMcqVGdtO5y7YM&w=800&h=600&itg=1&q=car%20repair%20%20background%20gif&hl=en&ved=0CAYQxiAoA2oXChMI-OKCl-Lt8AIVAAAAAB0AAAAAEAc');
}

.passwordHelp {
    font-size: 10px;
}

.alertBox {
    margin-top: 10px;
}